.possibility {
  article {
    margin-bottom: 3rem;

    .meta {
      .category-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline;
      }
      .category-list li {
        text-transform: uppercase;
        font-weight: bold;
        display: inline;

        &:after {
          content: ", ";
        }

        &:last-child:after {
          content: '';
        }
      }
      .category-list-count {
        display: none;
      }
    }


    h1 {
      font-size: 2.5rem;
      margin-top: 1rem;

      @include size-medium {
        font-size: 5rem;
      }
    }
  }

  .pagination {
    display:flex;
    flex-direction: column;

    @include size-medium {
      flex-direction: row;
      justify-content: space-between;
    }

    h2 {
      max-width: 100%;
      font-size: 1.2rem;

      @include size-medium {
        font-size: 2rem;
        max-width: 45%;
      }
    }

    .pagination-next a,
    .pagination-prev a {
      display: flex;
      color: $white;

      &:hover {
        background: -webkit-gradient(linear,left top,right top,from(#c1e542),to(#4fff52));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .pagination-next {
      text-align: right;
    }

    .right-caret,
    .left-caret {
      height: 25px;
      fill: $white;
      margin: auto;
    }

    .right-caret {
      margin-left: 2rem;
    }

    .left-caret {
      margin-right: 2rem;
    }
  }
}
