.intro {
  display:flex;
  flex-direction: column;
  margin-bottom: 10rem;

  @include size-medium {
     h1 {
      margin-top: 0;
      font-size: 4rem;
    }
  }

  @include size-large {
    flex-direction: row;
    h1 {
      min-width: 40%;
      margin-top: 0;
      margin-right: 2rem;
      font-size: 5rem;
    }
  }
}


.possibilities {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;

  @include size-medium {
    grid-template-columns: 1fr 1fr;
  }

  @include size-large {
    grid-template-columns: 1fr 1fr 1fr;
  }

  article {
    justify-self: left;

    a.read-more {
      color: $white;
      font-weight: bold;
      text-decoration: underline;
      text-decoration-color: #c1e542;
      background-image: none;
      transition: none;
      &:hover {
        background: -webkit-gradient(linear,left top,right top,from(#c1e542),to(#4fff52));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration-color: $white;
      }
    }
    h1 a {
      &:hover {
        background: -webkit-gradient(linear,left top,right top,from(#c1e542),to(#4fff52));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
