doctype html
-var lng = config.language

html(lang= lng)
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
      link(rel='icon', href=url_for('images/favicon.png'))
      link(rel='stylesheet', href=url_for('css/style.css'))


    body
      include header.pug

      main
        section.container
          block content

      footer
