extends partial/layout.pug

mixin possibility(post)
  article
    header
      h1
        a(href= url_for(post.path))= post.title

    section !{post.excerpt}

    footer
      p
        a(class='read-more' href= url_for(post.path)) Seguir leyendo

block content
  section.intro
    p intro goes here

  section.possibilities

    - page.posts.sort('date',-1).each(function (item) {
      +possibility(item)
      p
    - })
